.overflow-hidden {
    //overflow: hidden;
}

.header {
    overflow: hidden;
    background-color: rgb(89, 109, 122);
    height: 56px;
	width: 100vw;
    box-shadow: 0 4px 4px rgba(150, 150, 150, 0.5);
	position:fixed;
	z-index:999;
}

.title {
    font-size: 24px;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(55, 71, 79);
    display: inline-block;
    padding: 15px 10px;
    line-height: 1.2;
    box-sizing: border-box;
}

.site-content {
	flex: 1 0 auto;
	padding: 56px 0px 61px 0px;
}

.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bookmarkme,
#bookmarkScript {
    background-color: rgb(97, 125, 139);
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 40px 0;
}


.copy-button {
    background-color: rgb(97, 125, 139);
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.midBox{
	display:flex; 
	justify-content:center;
}

/* Define the animation */
@keyframes gradient-loop {
    0% {
        background-color: rgb(255, 0, 0);
    }

    25% {
        background-color: rgb(255, 255, 0);
    }

    50% {
        background-color: rgb(0, 255, 0);
    }

    75% {
        background-color: rgb(0, 255, 255);
    }

    100% {
        background-color: rgb(255, 0, 255);
    }
}

/* Apply the animation to the element */
/*.gradient-loop {
              animation: gradient-loop 5s linear infinite;
          }*/
/* Color scheme */
:root {
    --primary-color: rgb(103, 159, 56);
    --secondary-color: rgb(223, 162, 3);
    --text-color: #333;
    --background-color: #F7F7F7;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0;
    color: var(--primary-color);
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    color: var(--primary-color);
}

p {
    line-height: 1.5;
    margin: 10px 0;
}

a {
    font-size: 20px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 2px solid var(--primary-color);
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out !important;
}

a:hover {
    color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
}

button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: rgb(125, 140, 150) !important;
}

.inline-block-btn {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}

.gifBtn,
.tutBtn {
    flex: 1;
    height: 50px;
    width: 100%;
    margin-right: 10px;
}

.tutBtn {
    margin-right: 0;
}


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    flex: 1 0 auto;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}

.imgBorder {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.imgBorder img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.caption {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.footerWraper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer {
    width: 100%;
    font-size: 16px;
    color: white;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
    background-color: #607d8b;;
}

.preGif {
    display: block;
    margin: auto;
    max-width: 320px;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }

    h1 {
        font-size: 24px;
        margin: 20px 0;
    }

    h2 {
        font-size: 20px;
        margin: 10px 0;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }


	.midBox{
		display:flex; 
		flex-direction: column;
		justify-content:center;
	}
}
